[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
chardet = "*"
click = "*"
Flask = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
joblib = "*"
MarkupSafe = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sklearn = "*"
soupsieve = "*"
threadpoolctl = "*"
urllib3 = "*"
Werkzeug = "*"

[requires]
python_version = "3.7"
